<%- include('../includes/head.ejs') -%>

<body>
    <div class="container">
        <h2>Connect four game</h2>
        <div class="row">
               
        </div>

    </div>

<%- include('../includes/foot.ejs') -%>